<section class="second-part">
    <div class="dummy">o</div>
       <div class="footer-header">
      <h3 id="heading3">OUR COMPLEMENTARY <span style="background-color:#f6c830;">ASTROLOGY SERVICES</span> </h3>
       </div>
  
      <div class="footer">
  
      <div class="box-2">
          <img class="footer-img" src="./assets/footer.png" alt="">
          <h5>Free Kundali</h5>
          <div class="box-3">
          <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>
  
          </div>
      </div>
      <div class="box-2">
          <img class="footer-img" src="./assets/footer.png" alt="">
  
          <h5>Kundali Matching</h5>
          <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>
  
      </div>
      <div class="box-2">
          <img class="footer-img" src="./assets/footer.png" alt="">
  
          <h5>Today Panchang</h5>
          <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>
  
      </div>
      <div class="box-2">
          <img class="footer-img" src="./assets/footer.png" alt="">
          <h5>Today's Horoscope</h5>
          <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>
  
      </div>
  </div>
   </section>
  