<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
<!--  -->
<!--  -->
</head>
<body>
    <nav class="nav-bar">
      <!-- <div class="nav-img"> -->
        <!-- <img class="nav-image"  src="../assets/image (1).png" alt=""> -->
        <!-- <img class="nav-image"  src="../assets/image.png" alt=""> -->
  <!--  -->
      <!-- </div> -->
        <ul class="nav-menu">
           <div class="logo">
            <img id="logo-img"  src="./assets/yellow-eye-logo-illustration-free-vector.jpg">
           </div>
            <h1 id="heading">Astrologer</h1>
           
           <div class="nav-component">
            <li><a href="">Free Services<i class='bx bxs-down-arrow'></i></a></li>
            <li><a href="">Horoscope<i class='bx bxs-down-arrow'></i></a></li>
            <li><a href="">Book a Pooja</a></li>
            <li><a href="">Product Services</a></li>
            <button class="btn" (click)="sign()" >Login</button>
            <!-- <button class="btn" (click)="register()" >Register</button> -->
           </div>
        </ul>
      </nav>
      <section class="first-part">
     <div class="body-head">
       <h2>Astrology Predictions By Best Astrologer</h2>
     </div>
     <div class="body-head2">
      <form>
        <input type="text" placeholder="Search By Language">
        <input style="border-right: none; width: 270px;" type="text" placeholder="Consultation Type" >
        <button ><i  class='bx bx-search'></i>Search</button>
        </form>
     </div>
      <section class="section1">
        <div class="box"><img class="img-size" src="./assets/Screenshot (235).png" alt="">
        <h4>Talk to Astrologer</h4></div>
        <div class="box"><img class="img-size" src="./assets/icon-techsupport.png" alt="">
            <h4>Chat with Astrologer</h4>
        </div>
        <div  class="box"><img id="img3" class="img-size" src="./assets/Pooja.png" alt="">
        <h4 class="img-bottom-head">Book a Pooja</h4></div>
        <div class="box"><img id="img4" class="img-size" src="./assets/product service.png" alt="">
        <h4 class="img-bottom-head" >Product Service</h4></div>
      
      </section>
 </section>
 <section class="second-part">
  <div class="dummy">o</div>
     <div class="footer-header">
    <h3 id="heading3">OUR COMPLEMENTARY <span style="background-color:#f6c830;">ASTROLOGY SERVICES</span> </h3>
     </div>

    <div class="footer">

    <div class="box-2">
        <img class="footer-img" src="./assets/footer.png" alt="">
        <h5>Free Kundali</h5>
        <div class="box-3">
        <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>

        </div>
    </div>
    <div class="box-2">
        <img class="footer-img" src="./assets/footer.png" alt="">

        <h5>Kundali Matching</h5>
        <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>

    </div>
    <div class="box-2">
        <img class="footer-img" src="./assets/footer.png" alt="">

        <h5>Today Panchang</h5>
        <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>

    </div>
    <div class="box-2">
        <img class="footer-img" src="./assets/footer.png" alt="">
        <h5>Today's Horoscope</h5>
        <p>Lorem ipsum dolor, sit amet consect iytifje to adipisicing elit. Nostrum illo molestias rerum sit amet consectetur.</p>

    </div>
</div>
 </section>

</body>
</html>
